<app-header>{{ 'LOADING' | translate }} header...</app-header>

<app-menu-aside [links]="mylinks">{{ 'LOADING' | translate }} menu...</app-menu-aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<toaster-container [toasterconfig]="toastrConfig"></toaster-container>
	<app-breadcrumb></app-breadcrumb>

	<!-- Main content -->
	<section class="content">
		<div class="box box-default">
			<div class="box-body">
				<div class="row">
	<div class="col-md-12" style="margin-bottom: 10px;">
		<button class="btn btn-success pull-right" (click)="add()">
			<i class="fa fa-plus"></i> Add Client
		</button>
	</div>
	<div class="col-md-3" *ngFor='let client of clients | async'>
		<div class="well">
			<form>
				<div class="form-group">
					<label for="id">Id</label> <input type="text" disabled="disabled"
						[(ngModel)]="client.clientId" name="clientId" class="form-control"
						id="id" required>
				</div>
				<div class="form-group">
					<label for="name">Name</label> <input type="text"
						class="form-control" (keyup.enter)="save(client)"
						[(ngModel)]="client.name" id="name" name="name" required>
				</div>
				<div class="form-group">
					<label for="address">Address</label> <input type="text"
						class="form-control" (keyup.enter)="save(client)"
						[(ngModel)]="client.address" name="address" id="address">
				</div>
				<button type="button" class="btn btn-primary" (click)="save(client)">Save</button>
				<button type="button" class="btn btn-danger"
					(click)="delete(client)">Delete</button>
			</form>
		</div>
	</div>
</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer>{{ 'LOADING' | translate }} footer...</app-footer>
<app-aside>{{ 'LOADING' | translate }} control sidebar...</app-aside>
