<div class="table">
  <div class="row">
    <div class="btn-group" dropdown dropdown-append-to-body>
      <button id="btn-append-to-body" type="button" class="btn btn-primary" dropdownToggle>
        Select Table <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
        <li (click) = "load('Login')" role="menuitem"><a class="dropdown-item">Login</a></li>
        <li (click) = "load('User')" role="menuitem"><a class="dropdown-item">User</a></li>
        <li (click) = "load('OTP')" role="menuitem"><a class="dropdown-item">OTP</a></li>
        <li (click) = "load('Advertisements')" role="menuitem"><a class="dropdown-item">Advertisements</a></li>
        <li (click) = "load('Cart')" role="menuitem"><a class="dropdown-item">Cart</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item">Separated link</a></li>
      </ul>
    </div>
  </div>
    <br>
    
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Filter all columns"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
  <div class="col-md-4"><div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export as CSV" (click)="dt.exportCSV()" style="float:left"></button>
</div></div>
</div>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1 style="color:#286090">{{table}}</h1>
  </div>
</div>
<br>
<div class="table-responsive">
<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
</div>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>

<p-dataTable [value]="Tabledata" #dt [hidden]="!datatable">
    <p-column *ngFor="let col of columnNames" [field]="col" [header]="col"></p-column>
</p-dataTable>   


</div>